/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.mat-mdc-form-field{
  width: 500px;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.inline-icon {
  vertical-align: bottom;
  font-size: 24px !important;
}

div.event-tile {
  width: 400px;
  height: 250px;
  margin: 10px;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
}
div.section {
  padding: 5px;
  margin: 10px;
  width: 100%;
}
.mat-typography h3 {
  font: 400 18px/30px Roboto, "Helvetica Neue", sans-serif;
  font-style: italic;
}
div.meta-new-option, div.meta-new-charity, div.meta-update-fractions {
  background-color: lightpink;
}
div.dona-new {
  background-color: lightgreen;
}
div.conv-exit, div.conv-enter {
  background-color: lightblue;
}
div.conv-transfer {
  background-color: lightskyblue;
}
div.conv-liquidate, div.conv-invest {
  background-color: lightyellow;
}
div.price-info {
  background-color: lightgray;
}
div.conv-inflation {
  background-color: #00cc00;
}
div.tile-container {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
}
input.file-input {
  display: none;
}
